<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %> </li>
  <% end %>
</ul>
<% end %>

<%= form_for @user do |f| %>
  Give a username: <%= f.text_field :username, placeholder: "username"%>
  <br>
  Give an email: <%= f.text_field :email, placeholder: "example@mail.com"%>
  <br>
  Type a password: <%= f.password_field :password, placeholder: "2Abc_de", value: "username"%>  
  <br>
  <%= f.submit "Create" %>
<% end %>