
<%= form_for @user do |f| %>
  Give a username: <%= f.text_field :username, placeholder: "username"%>
  <br>
  Give an email: <%= f.text_field :email, placeholder: "example@mail.com"%>
  <br>
  Type a password: <%= f.password_field :password, placeholder: "2Abc_de", value: "password"%>  
  <br>
  <%= f.submit "Create" %>
<% end %>

<!--
<form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user_username">Username:</label>
  <input type="text" id="user_username" class="" name="user[username]">
  </br>
  <label for="user_email">Email:</label>
  <input type="email" id="user_email" class="" name="user[email]">
  </br>
  <label for="user_password">Password:</label>
  <input type="password" id="user_password" class="" name="user[password]">
  </br>
  <input type="submit">
</form>
-->

<!--
<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag "user[username]" %>
  <br>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag "user[email]" %>
  <br>
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag "user[password]" %>
  <br>
  <%= submit_tag("Submit") %>
<% end %>
-->